<h1 class="mt-5">Welcome to Insta Clone</h1>


<% if !current_owner %>
  <p class="lead text-muted">Please register or sign in to continue</p>
  <%= link_to 'Sign in', new_owner_session_path, class: 'btn btn-success' %>
  <%= link_to 'Sign up', new_owner_registration_path, class: 'btn btn-success' %>
<% end %>
